results/*
!results/.gitkeep

resources/taxidMapping/*
resources/Database/*

.snakemake/*

/resources/toyExample/spectra_PXD014913_cowpox_minimal_example.mgf
/bin/*
/resources/SampleData/spectrafile_PXD014913_cowpox_minimal_example.mgf
!bin/.gitkeep

.idea