<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=0.8" name="viewport"/>
    <title>PepGM</title>
    <meta name="description">
    <link href="https://picocss.com/favicon.ico" rel="shortcut icon"/>
    <link href="https://picocss.com/examples/classless/" rel="canonical"/>

    <!-- Pico.css (Classless version) -->
    <link
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css"
            rel="stylesheet"
    />
    <!-- Add script that downloads a file -->
    <script src="{{url_for('static', filename='utils.js')}}"></script>
    <!--  Import jsyaml package -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/4.1.0/js-yaml.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
<!-- Header -->
<header>
    <hgroup>
        <h1>PepGM</h1>
        <h2>Please refer to our
            <a href="https://github.com/BAMeScience/PepGM">
                GitHub</a> for detailed explanation of the configuration
            parameter. </h2>
    </hgroup>
</header>
<main>
    <div style="display: flex; justify-content: space-between;">
        <button id="downloadButton"
                onclick="return checkFields()"
                style="margin-right: 20px; height: 70px">
            Save configuration file
        </button>
        <button onclick="loadConfigFile()"
                style="margin-right: 20px; height: 70px">Load configuration file
        </button>
        <button id="runButton"
                onclick="runSnakemake()"
                style="margin-right: 20px; height: 70px">Run snakemake
        </button>
        <form><input id="nCores"
                     name="nCores"
                     placeholder="Cores"
                     type="text"
                     value="8"/></form>
    </div>
    <!-- NCBI account details -->
    <details open>
        <summary role="button">NCBI account</summary>
        <section id="NCBI">
            <details>
                <summary>Details</summary>
                <p>
                    To utilize PepGM, you need to provide your NCBI API email and key.
                    We highly recommend creating your NCBI account and obtaining your own key,
                    as it can result in significant speed improvements. You can learn how to get your NCBI API key
                    by following the instructions provided
                    <a href="https://support.nlm.nih.gov/knowledgebase/article/KA-05317/en-us">here</a>.
                    Please note that we do not store your information for security reasons.
                </p>
            </details>
            <form>
                <input
                        name="APImail"
                        placeholder="Mail"
                        type="text"
                />
                <input
                        name="APIkey"
                        placeholder="Key"
                        type="text"
                />
            </form>
        </section>
        <!-- ./ NCBI account details -->
    </details>
    <!-- Run -->
    <details open>
        <summary role="button">Run</summary>
        <section id="Run">
            <details>
                <summary>Details</summary>
                <p>
                    To set up the Snakemake workflow for your PepGM run, you must provide the parameters
                    that fill wildcards in the Snakefile.
                    These parameters are used to locate the input files, such as raw spectra or reference
                    databases. When specifying these parameters, please use the basenames of your
                    files (i.e., the file names without the file suffixes). Alternatively,
                    you can rename your files to match the parameter names.
                    This will ensure that PepGM can locate the correct files and execute the workflow successfully.
                </p>
            </details>
            <form>
                <input
                        name="ExperimentName"
                        placeholder="Experiment"
                        type="text"
                />
                <input
                        name="SampleName"
                        placeholder="Sample"
                        type="text"
                />
                <input
                        name="HostName"
                        placeholder="Host"
                        type="text"
                />
                <input
                        name="ScientificHostName"
                        placeholder="Scientific host name"
                        type="text"
                />
                <input
                        name="ReferenceDBName"
                        placeholder="Reference"
                        type="text"
                />
                <fieldset>
                    <legend>Choose an option:</legend>
                    <form id="myForm2" method="post">
                        <input
                                id="FilterSpectra"
                                name="FilterSpectra"
                                type="radio"
                                value="1">
                        <label for="FilterSpectra">Filter spectra</label><br>
                        <input
                                id="AddHostandCrapToDB"
                                name="FilterSpectra"
                                type="radio"
                                value="2">
                        <label for="AddHostandCrapToDB">Add host and cRAP</label><br>
                    </form>
                </fieldset>
            </form>
        </section>
    </details>
    <!-- ./ Run -->
    <!-- File input -->
    <details open>
        <summary role="button">File input</summary>
        <section id="Input">
            <details>
                <summary>Details</summary>
                <p>
                    Select a raw spectra and a parameter file and the paths to where your SearchGUI and PeptideShaker
                    binaries are located.
                </p>
            </details>
            <form action="/create-file" enctype="multipart/form-data" id="file" method="post">
                <label for="SamplePath">Raw Spectra:</label>
                <input accept=".mgf" id="SamplePath" name="SamplePath" type="file">
                <br>
                <label for="ParametersFile">Parameter File:</label>
                <input accept=".par" id="ParametersFile" name="ParametersFile" type="file">
                <br>
                <label for="SearchGUI">SearchGUI Binary:</label>
                <input accept=".jar" id="SearchGUI" name="SearchGUI" type="file">
                <br>
                <label for="PeptideShaker">PeptideShaker Binary:</label>
                <input accept=".jar" id="PeptideShaker" name="PeptideShaker" type="file">
            </form>
        </section>
    </details>
    <!-- ./ Run -->
    <details open>
        <summary role="button">Database search</summary>
        <section id="Search engine">
            <details>
                <summary>Details</summary>
                <p>
                    Choose your preferred search engine and the desired FDR levels.
                </p>
            </details>
            <form>
                <label for="searchengines">Search engine</label>
                <select id="searchengines" name="searchengines">
                    <option id="X!Tandem" value="-xtandem">X!Tandem</option>
                    <option id="Andromeda" value="-andromeda">Andromeda</option>
                    <option id="MyriMatch" value="-myrimatch">MyriMatch</option>
                    <option id="MSAmanda" value="-ms_amanda">MSAmanda</option>
                    <option id="MetaMorpheus" value="-meta_morpheus">MetaMorpheus</option>
                </select>

                <label for="psmFDR">PSM FDR level: <span id="psmFDR-value">5</span>
                    <input id="psmFDR"
                           max="50"
                           min="1"
                           name="psmFDR"
                           oninput="updateValue('psmFDR-value', this.value)"
                           type="range"
                           value="5"/>
                </label>
                <label for="peptideFDR">Peptide FDR level: <span id="peptideFDR-value">5</span>
                    <input id="peptideFDR"
                           max="50"
                           min="1"
                           name="peptideFDR"
                           oninput="updateValue('peptideFDR-value', this.value)"
                           type="range"
                           value="5"/>
                </label>
                <label for="proteinFDR">Protein FDR level: <span id="proteinFDR-value">5</span>
                    <input id="proteinFDR"
                           max="50"
                           min="1"
                           name="proteinFDR"
                           oninput="updateValue('proteinFDR-value', this.value)"
                           type="range"
                           value="5"/>
                </label>

            </form>
        </section>
    </details>
    <!-- Grid search -->
    <details open>
        <summary role="button">Grid search and results</summary>
        <section id="Grid search">
            <details>
                <summary>Details</summary>
                <p>
                    PepGM uses a grid search to estimate optimal graphical model parameters alpha, beta and prior.
                    Set start, end and step size values to generate float increments, or use the default
                    sequence that is alpha=[0.01,0.05,0.10,0.20,0.40,0.60], beta=[0.01,0.05,0.10,0.20,0.40,0.50,0.70],
                    prior=[0.10,0.30,0.50].
                </p>
            </details>
            <form>
                <label for="nTaxa">Number of taxa in barplot:</label>
                <input id="nTaxa"
                       name="nTaxa"
                       placeholder="Number of taxa"
                       type="text"
                       value="15"/>
                <label>Alpha</label>
                <form method="post">
                    <input checked
                           id="defaultAlpha"
                           name="whichAlpha"
                           type="radio" value="1">
                    <label for="defaultAlpha">Default</label><br>
                    <input id="ownAlpha"
                           name="whichAlpha"
                           type="radio"
                           value="2">
                    <label for="ownAlpha">Generate increments</label><br>
                </form>
                <form method="post">
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <label style="display: flex; align-items: center;">Start:
                            <input id="alphaStart"
                                   name="alphaStart"
                                   style="margin-left: 10px; width:100px"
                                   type="text"></label>
                        <label style="display: flex; align-items: center;">End:
                            <input id="alphaEnd"
                                   name="alphaEnd"
                                   style="margin-left: 10px; width:100px"
                                   type="text"></label>
                        <label style="display: flex; align-items: center;">Step size:
                            <input id="alphaStepSize"
                                   name="alphaStepSize"
                                   style="margin-left:10px;  width: 100px"
                                   type="text"></label>
                    </div>
                </form>
            </form>
            <form>
                <label>Beta</label>
                <form method="post">
                    <input checked id="defaultBeta"
                           name="whichBeta"
                           type="radio"
                           value="1">
                    <label for="defaultBeta">Default</label><br>
                    <input id="ownBeta"
                           name="whichBeta"
                           type="radio"
                           value="2">
                    <label for="ownBeta">Generate increments</label><br>
                </form>
                <form method="post">
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <label style="display: flex; align-items: center;">Start:
                            <input id="betaStart"
                                   name="betaStart"
                                   style="margin-left: 10px;  width: 100px"
                                   type="text"></label>
                        <label style="display: flex; align-items: center;">End:
                            <input id="betaEnd"
                                   name="betaEnd"
                                   style="margin-left: 10px; width: 100px"
                                   type="text"></label>
                        <label style="display: flex; align-items: center;">Step size:
                            <input id="betaStepSize"
                                   name="betaStepSize"
                                   style="margin-left: 10px;  width: 100px"
                                   type="text"></label>
                    </div>
                </form>
            </form>
            <form>
                <label> Prior </label>
                <form method="post">
                    <input checked id="defaultPrior"
                           name="whichPrior"
                           type="radio"
                           value="1">
                    <label for="defaultPrior">Default</label><br>
                    <input id="ownPrior"
                           name="whichPrior"
                           type="radio"
                           value="2">
                    <label for="ownPrior">Generate increments</label><br>
                </form>
                <form method="post">
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <label style="display: flex; align-items: center;">Start:
                            <input id="priorStart"
                                   name="priorStart"
                                   style="margin-left: 10px;  width: 100px"
                                   type="text"></label>
                        <label style="display: flex; align-items: center;">End:
                            <input id="priorEnd"
                                   name="priorEnd"
                                   style="margin-left: 10px; width: 100px"
                                   type="text"></label>
                        <label style="display: flex; align-items: center;">Step size:
                            <input id="priorStepSize"
                                   name="priorStepSize"
                                   style="margin-left: 10px;  width: 100px"
                                   type="text"></label>
                    </div>
                </form>
            </form>
        </section>
    </details>
    <footer>
        <small
        >Built with <a href="https://picocss.com">Pico</a> •
            <a href="https://github.com/picocss/examples/blob/master/v1-classless/index.html"
            >Source code</a
            ></small
        >
    </footer>
</main>
<script>
        $('#downloadButton').click(function() {
            // Create a new FormData object
            var formData = new FormData();
            // For each form on the page, append its data to formData
            $('form').each(function() {
                var form = $(this)[0];  // Get the form element from the jQuery object
                var data = new FormData(form);  // Create a FormData object from the form

                // For each key-value pair in data, append it to formData
                for (var pair of data.entries()) {
                    formData.append(pair[0], pair[1]);
                }
            });
            // Send an AJAX request to the server
            $.ajax({
                url: '/create_file',
                method: 'POST',
                processData: false,
                contentType: false,
                data: formData,
                success: function(data) {
                    // Handle the response
                }
            });
        });

</script>
</body>
</html>
